- content_for :js_onready do
  SplitTest.initialize()

#test-cnt
  - ab_test(@test_name, @test_values) do |test_value|

    .btn#split-test-button{ data: { testValue: test_value, testName: @test_name } }
      #{@test_name.to_s.humanize} #{test_value.to_s}

  = link_to('Get me out of here!', "http://en.wikipedia.org/wiki/Special:Random", class: ["btn", "secondary"])

  - finished(@test_name)

#other-tests-cnt
  .pull-left
    %h4 Available Tests
    %ul
    - @tests.each do |slug, values|
      %li
        = link_to(slug.humanize, "/?test_name=#{slug}")

  .pull-left
    %h4 Recent Results
    %ul
    - @tests.each do |slug, values|
      %li
        = link_to(slug.humanize, "/test_results?test_name=#{slug}")
